html{
	height:100%;
}

body{
	margin:0px; background: #EEEDED; height:100%;
}

#navbar{
	display:grid;
	grid-template-columns:20% 55% 25%;
	height:55px;
	padding:5px 0px;
	background:#333;
	border-bottom:5px solid #a1a7ad;
}

#navbarlogo{
	justify-items:left;
}

#navbarlist li{
	list-style:none;
	padding-right:0.1em;
	padding-left:0.1em;
	font-family:sans-serif;
	font-weight:bold;
	color:#999;
}

#navbar a{
	text-decoration:none;
}

#navbarlist a:visited{
	color:#999;
}

#navbarlist a:hover{
	color:white;
}

#titlebar p{
	text-align:center;
	font-weight:bold;
	font-family:sans-serif;
	color:#999;
}

#navbarlist li{
	display:inline;
}

#main{
	display:grid;
	height:80%;
	grid-template-columns:10% 90%;
}

#navpanel{
}

.header{
	font-size:0.85em;
	padding:0.5em 0;
	text-decoration:underline;
}

#navpanel ul{
	list-style:none;
	padding-left:1em;
	margin:0;
}

#navpanel li{
	line-height:1.6em;
	font-size:0.75em;
	margin:0;
}

#navpanel a:visited{
	color:blue;
}

#mainhead{
	display:grid;
	grid-template-rows:10% 90%;
	grid-template-columns:10% 90%;
}

#lefttab{
	display:grid;
	align-items:end;
	grid-template-columns:35% 65%;
}

#lefttab ul{
	list-style:none;
	margin:0;
	padding-left:0;
}

#lefttab li{
	border:1px solid #cccccc;
	border-bottom-color:#ffffff;
	background-color:#ffffff;
	text-align:center;
}

#content{
	grid-column:1/3;
	grid-row:2/3;	
	border:1px solid #cccccc;
	background-color:#ffffff;
}
